/*
@font-face {
font-family: "Cairo-Regular";
font-weight: normal;
font-style: normal;
src: url("../css/fonts/Cairo-Regular.ttf");
}

@font-face {
font-family: "Cairo-Bold";
font-weight: bold;
font-style: bold;
src: url("../css/fonts/Cairo-Bold.ttf");
}

@font-face {
font-family: "Cairo-ExtraLight";
font-weight: lighter;
font-style: normal;
src: url("../css/fonts/Cairo-ExtraLight.ttf");
}

@font-face {
font-family: "Cairo-Light";
font-weight: lighter;
font-style: normal;
src: url("../css/fonts/Cairo-Light.ttf");
}

@font-face {
font-family: "Cairo-SemiBold";
font-weight: bold;
font-style: normal;
src: url("../css/fonts/Cairo-SemiBold.ttf");
}



 */
