#global-footer-product-container {
  position: fixed;
  z-index: 9000;
  bottom: 0;
  color: white;
  width: 100%;
  font-size: 12px;
}

#global-footer-product-container-freeshipping {
  text-align: center;
  padding: 15px;
  background: black;
  direction: ltr;
}

.section-format {
  margin-top: 3em;
  width: 100vw;
  overflow: hidden;
  padding-left: 6.7em;
}

.main-products {
  padding-left: 4em;
  padding-top: 6em;
}

.header-product {
  width: 95.5%;
  height: 40em;
  overflow: hidden;
}

.containers {
  position: relative;
  color: white;
}

.left {
  position: absolute;
  bottom: 28em;
  left: 7em;
  font-size: 12px;
  font-weight: 100;
  padding-bottom: 10px;
  border-bottom: .5px solid;
}

.left-header {
  position: absolute;
  left: 1.7em;
  padding-top: 6.2em;
  font-size: 3em;
}

.product-header-button {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  font-size: 13px;
  border: none;
  text-decoration: none;
  min-width: 9em;
  min-height: 3.3em;
}

.product-header-button:hover{
  background-color: blue;
  transition: .3s;
}

.product-header-button-align {
  position: absolute;
  left: 6.5em;
  top: 34em;
}

/* MAIN PRODUCTS */

.column {
  float: left;
}

.left-product {
  width: 33%;
}

.middle {
  width: 33%
}

.right {
  width: 33%;
}

.product-format {
  max-width: 100vw;
  object-fit: cover;
  width: 22em;
  height: 32em;
}

.product-title-format {
  font-size: 24px;
}

.copy-format {
  width: 70%;
  letter-spacing: 0px;
}

/* MAIN PRODUCTS */
